<nav>
    <div class="navbar">
        <ul>
            <li><a href="/quote" class="active">Quote</a></li>
            <li><a href="/joke" class="active">Joke</a></li>
            <!-- <li><a href="/youtube"class="active">Youtube</a></li> -->
        </ul>
    </div>
</nav>